<form action="http://127.0.0.1/form" method="post">
    <input name="amount">
    <input name="currency">
    <input type="hidden" name="callbackUrl" value="http://[SET DOCKER IP]/callback">
    <input type="submit">
</form>